<div class="background">
    <div class="wrapper">
        <div class="post-comments-section">
            <div class="left-sidebar">
                <div class="details" *ngIf="!showEditWindow">
                    <div class="post-header">
                        <div class="arrow-img" (click)="goBack()">
                            <img src="../../../assets/images/back-left-direction.svg">
                        </div>
                        <div class="arrow-img" (click)="editPost()">
                            <img src="../../../assets/images/edit-1479-svgrepo-com.svg">
                        </div>
                    </div>
                    <div class="currentpost">
                        <h2>{{currentPost.title}}</h2>
                        <h4>{{currentPost.body}}</h4>
                    </div>

                </div>
                <div class="edit-window" *ngIf="showEditWindow">
                    <div class="update-post">
                        <div class="arrow-img" (click)="closeWindow()">
                            <img src="../../../assets/images/back-left-direction.svg">
                        </div>
                        <h3>Update Post</h3>
                    </div>
                    <form>
                        <label for="post_title">Title
                            <input type="text" id="post_title" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="postNewTitle">
                        </label>
                        <label for="post_body">Body
                            <textarea type="text" id="post_body" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="postNewBody"></textarea>
                        </label>
                        <button class="post-btn" (click)="updatePost()">Update</button>
                    </form>
                </div>
            </div>
            <hr>
            <div *ngIf="commentsAreShown" class="comments-background">
                <div class="comments-label">
                    <p>Comments</p>
                </div>

                <div class="comments-section">
                    <div class="comments">
                        <div *ngFor="let comment of comments" class="comment-box">
                            <div class="profile-img">
                                <img src="../../../assets/images/user-rounded-svgrepo-com.svg">
                            </div>
                            <div class="comment-contents">
                                <div class="comment-body">{{comment.body}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="your-comment">
                        <div class="profile-img">
                            <img src="../../../assets/images/user-rounded-svgrepo-com.svg">
                        </div>
                        <form>
                            <label for="comment_body" class="comment-textarea">
                                <textarea type="text" id="comment_body" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="newCommentBody"></textarea>
                            </label>
                            <button (click)="addNewComment()">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>