<header>
    <div class="wrapper">
        <div class="header">
            <div class="logo" routerLink="/">
                <img src="../../../assets/images/blog-svgrepo-com.svg">
                <h1>Blog</h1>
            </div>
            <div class="nav">
                <div><a routerLink="/posts">Posts</a></div>
                <div><a>Albums</a></div>
            </div>
            <a (click)="handleButtonClick()">
                <div class="account">
                    <div class="account-info">

                        <div>{{ currentUserName }} </div>
                        <div [ngClass]="{ 'signed-in': isSignedIn, 'not-signed-in': !isSignedIn }" class="arrow"><img
                                src="../../../assets/images/down-arrow-backup-2-svgrepo-com (1).svg"></div>

                        <img src="../../../assets/images/user-rounded-svgrepo-com.svg">

                    </div>
                    <app-menu [shown]="isSignedIn"></app-menu>
                </div>

            </a>
        </div>

    </div>
</header>