<header>
    <div class="wrapper">
        <div class="header">
            <div class="logo" routerLink="/">
                <img src="../../../assets/images/blog-svgrepo-com.svg">
                <h1>Blog</h1>
            </div>
            <div class="nav">
                <div><a routerLink="/posts">Posts</a></div>
                <div><a>Albums</a></div>
            </div>
            <div class="account">

                <a routerLink="/login">
                    <div>Sign In</div>
                </a>
                <img src="../../../assets/images/user-rounded-svgrepo-com.svg">
            </div>
        </div>
    </div>
</header>