<div class="landing-page">
    <div class="main-content">
        <div class="text">
            <h1>Create Posts</h1>
            <h1>Engage with Comments</h1>
            <h1>Discover New Content</h1>
            <div class="buttons">
                <button routerLink="/posts">Posts</button>
                <button routerLink='/albums'>Albums</button>
            </div>
        </div>

        <div class="writing-img">
            <img src="../../../assets/images/writing-svgrepo-com.svg">
        </div>
    </div>

</div>