// .background {
//     background-color: #fff9c4;
// }
.posts-wrapper {
    width: 60%;
    margin: auto;
}
.author-title {
    display: flex;
    justify-content: space-between;
}
.post {
    margin-bottom: 20px;
    background-color: beige;
    padding: 20px;
    box-shadow: 7px 2px 8px -4px #d1e0e0;
}
.post-title, .post-author {
    font-weight: bold;
    font-size: 16px;
    font-family: Delius;
    color: #540e5d;
}
.post-button {
    padding: 10px;
    background-color: #fff;
    font-family: Inter;
    font-size: 14px;
    margin: 20px 0px;
}
.post-text {
    font-family: Delius;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 2px 8px -4px #d1e0e0;
}





.add-post {
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}
.add-post-button {
    margin: auto;
}

.post-window {
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #cfc1cf;
    padding: 20px;
    border-radius: 20px;

    input {
        width: 100%;
        border-radius: 10px;
        height: 40px;
        border: none;
        outline: none;
        margin-top: 10px;
        padding: 20px;
    }
    label {
        font-family: Inter;
    }

    .add {
        width: 50px;
        padding: 10px;
        background-color: #fff;
        color: #540e5d;
        border: none;
        outline: none;
        font-family: Inter;
    }
}