// .background {
//     background-color: #fff9c4;
// }
.posts-wrapper {
    width: 60%;
    margin: 30px auto;
}
.author-title {
    display: flex;
    justify-content: space-between;
}
.post {
    margin-bottom: 20px;
    background-color: beige;
    padding: 20px;
    box-shadow: 7px 2px 8px -4px #d1e0e0;
}
.post-title, .post-author {
    font-weight: bold;
    font-size: 16px;
    font-family: Delius;
    color: #540e5d;
}
.post-button {
    padding: 10px;
    background-color: #fff;
    font-family: Inter;
    font-size: 14px;
}






.add-post {
    background-color: blue;
    color: #fff;
    padding: 15px;
    border: none;
    outline: none;
}

.post-window {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #4da6ff;
    padding: 20px;

    input {
        width: 100%;
        border-radius: 10px;
        height: 40px;
        border: none;
        outline: none;
        margin-top: 10px;
        padding: 20px;
    }

    .add {
        width: 50px;
        padding: 10px;
        background-color: red;
        color: #fff;
        border: none;
        outline: none;
    }
}