/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Emily;
    letter-spacing: 1px;
}
.wrapper {
    width: 90%;
    margin: auto;
}
@font-face {
    font-family: Emily;
    src: url("../src/assets/fonts/EmilysCandy-Regular.ttf");
}
@font-face {
    font-family: Delius;
    src: url("../src/assets/fonts/Delius-Regular.ttf");
}
@font-face {
    font-family: Inter;
    src: url("../src/assets/fonts/Inter_18pt-Medium.ttf");
}
a {
    cursor: pointer;
    text-decoration: none;
}
button {
    background-color: #cfc1cf;
    color: #540e5d;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Emily;
    font-size: 16px;
    cursor: pointer;
    }
.register-link {
    color: #540e5d;
}